<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <!--Mi conexion local(benja)-->
    <add name="db_autocor" providerName="SqlServer.Data" connectionString="Data Source=NOTEBENJA; Initial Catalog=autocor_2019-09-30; Integrated Security=True;" />
    
    
    
    <!--<add name="db_autocor" providerName="SqlServer.Data" connectionString="Server=192.22.5.140;Database=autocor_2019-09-30;Uid=livoTurismo;Pwd=livo;" />-->
    <!--remoto-->
    <!--<add name="db_autocor" providerName="SqlServer.Data" connectionString="Server=e2-DOTNET-01;Database=autocor_2019-09-30;Uid=livoTurismo;Pwd=livo;" />-->
    <!--oficina-->
    <!--<add name="db_autocor" providerName="SqlServer.Data" connectionString="Server=autocor.com.ar;Database=autocor;Uid=extrados;Pwd=ExtraDosE2;" />-->
    <!--prod-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
